<div class="navbar navbar-default navbar-fixed-bottom player-bar">
    <div class="container-fluid">
        <div class="row">

            <div class="col-sm-3 col-md-2">
                <button type="button" class="btn btn-default btn-sm navbar-btn" data-ng-click="Player.previous()" data-ng-disabled="! Player.idx">
                    <span class="fa fa-step-backward"></span>
                </button>

                <button type="button" class="btn btn-success navbar-btn" data-ng-click="Player.togglePlay()" data-ng-disabled="! Player.queue.length" data-ng-class="{'btn-warning': ! Player.paused}">
                    <span class="fa fa-play" data-ng-if="Player.paused"></span>
                    <span class="fa fa-pause" data-ng-if="! Player.paused"></span>
                </button>

                <button type="button" class="btn btn-default btn-sm navbar-btn" data-ng-click="Player.next()" data-ng-disabled="Player.idx == Player.queue.length - 1 || ! Player.queue.length">
                    <span class="fa fa-step-forward"></span>
                </button>
            </div>
            <div class="col-sm-5 col-md-6">
                <div class="row">
                    <div class="col-sm-6">
                        <p>
                            {{ Player.getSong().title }} - <a data-ui-sref="app.artist({id: Player.getSong().artistId})">{{ Player.getSong().artist }}</a>
                        </p>
                    </div>
                    <div class="col-sm-6">
                        <p class="text-right">
                            {{ Player.getSong().sound.getTime() }}
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div data-progressbar data-value="percent" data-ng-click="clickPosition($event)"></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">

                <button type="button" class="btn btn-default btn-sm navbar-btn">
                    <span class="fa fa-random"></span>
                </button>

                <button type="button" class="btn btn-default btn-sm navbar-btn">
                    <span class="fa fa-repeat"></span>
                </button>

            </div>
            <div class="col-sm-2">
                <span class="fa" data-ng-class="{'fa-volume-off': Player.volume <= 10, 'fa-volume-down': Player.volume > 10 && Player.volume <= 60, 'fa-volume-up': Player.volume > 60}"></span>
                <div data-progressbar data-animate="false" data-value="volume" data-ng-click="clickVolume($event)"></div>
            </div>
        </div>


    </div>
</div>
