<div class="row">
    <div class="col-sm-6 col-sm-offset-3">

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3>Login</h3>
            </div>
            <div class="panel-body">

                <form data-ng-submit="submit()">
                    <div class="form-group">
                        <div class="input-group">
                            <label class="input-group-addon" for="input-url">
                                <span class="fa fa-server"></span>
                            </label>
                            <input type="text" class="form-control" id="input-url" data-ng-model="server.url" placeholder="Server URL" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <label class="input-group-addon" for="input-username">
                                <span class="fa fa-user"></span>
                            </label>
                            <input type="text" class="form-control" id="input-username" data-ng-model="server.username" placeholder="Username" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <label class="input-group-addon" for="input-password">
                                <span class="fa fa-key"></span>
                            </label>
                            <input type="password" class="form-control" id="input-password" data-ng-model="password" data-ng-change="hexPassword()" placeholder="Password" required>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary btn-block" data-ng-disabled="loading">
                        Login
                    </button>
                </form>

            </div>
        </div>

    </div>
</div>
