<div class="row">
    <div class="col-sm-6 col-sm-offset-3">

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3>Logout</h3>
            </div>
            <div class="panel-body">

                <p class="lead">
                    You have been logged out.
                </p>

                <a class="btn btn-info btn-block" data-ui-sref="login">
                    Login again
                </a>

            </div>
        </div>

    </div>
</div>
