<div class="panel panel-primary">
    <div class="panel-heading">
        <h2>Settings</h2>
    </div>
    <div class="panel-body">

        <form class="form-horizontal">
            <fieldset>
                <legend>Caches</legend>
                <div class="form-group">
                    <label class="control-label col-sm-3">Subsonic API</label>
                    <div class="col-sm-9">
                        <button type="button" class="btn btn-default" data-ng-click="caches.subsonic.removeAll()" data-ng-disabled="! caches.subsonic.keys().length">
                            Clear cache
                        </button>
                        <p class="help-block">
                            Items in the cache: {{ caches.subsonic.keys().length }}
                        </p>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-3">Last.FM API</label>
                    <div class="col-sm-9">
                        <button type="button" class="btn btn-default" data-ng-click="caches.lastFM.removeAll()" data-ng-disabled="! caches.lastFM.keys().length">
                            Clear cache
                        </button>
                        <p class="help-block">
                            Items in the cache: {{ caches.lastFM.keys().length }}
                        </p>
                    </div>
                </div>

            </fieldset>
        </form>

    </div>
</div>
