
// colors
@lt-blue: #393E50;
@dk-blue: #181D29;
@white: #F1F2F4;
@gray: #DDDFE4;

// sizes
@navbar-height: 64px;
@sidebar-width: 220px;


// set cursor pointers for angular
a,
.nav,
.pagination,
.carousel,
.panel-title a {
    cursor: pointer;
}


body {
    background-color:  @gray;
}


.app-container {
    width: 100%;
    min-height: 100%;
    height: auto;
    overflow-x: hidden;

    .app-view {
        margin-top: @navbar-height;
        padding-top: 8px;
        margin-bottom: @navbar-height;
        padding-bottom: 8px;

        .app-wrapper {
            margin-left: @sidebar-width;
            position: relative;
            height: 100%;
            overflow: hidden;
            z-index: 110;

            .app {
                padding: 0 8px 8px 8px;
            }
        }
    }
}

.alerts {
    position: fixed;
    bottom: 0;
    left: 10%;
    right: 10%; // TODO make responsive width
    padding: 8px;
    z-index: 500;

    .alert {
        opacity: 0.7;
        padding: 8px;
        margin-bottom: 10px;

        &:hover {
            opacity: 1;
        }
    }

}

aside.main-sidebar {
    position: fixed;
    top: @navbar-height;
    bottom: 0t;
    left: 0;
    width: @sidebar-width;
    z-index: 310;
    height: 1px;
    min-height: 100%;

    > .sidebar-wrapper {
        height: 100%;
        overflow-x: hidden;
        background-color: @dk-blue;
        color: @white;

        > .sidebar {
            margin-left: 0;
            margin-right: 0;
            padding: 8px 8px @navbar-height 8px;
            position: relative;
            height: 100%;
            overflow-x: hidden;
            overflow-y: scroll;

            .mode-btns {
                margin: 15px 0;

                .btn {
                    background-color: @lt-blue;
                    border-color: @lt-blue;
                    text-transform: uppercase;
                    font-size: 12px;
                }

                .btn:active,
                .btn.active {
                    background-color: darken(@dk-blue, 5%);
                }
            }

            .nav {
                > li {
                    > a {
                        padding: 7px 12px;
                        color: @white;
                    }

                    > a:hover, a:focus {
                        background-color: @lt-blue;
                        color: @white;
                    }
                }
            }

            .list-group {
                .list-group-item {
                    padding: 7px;
                }
            }

        }
    }

}



header.main-navbar {
    > nav.navbar {
        min-height: @navbar-height;
        margin-bottom: 25px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);

        .navbar-brand {
            width: @sidebar-width;
            font-size: 24px;
            height: @navbar-height;
            line-height: 24px;
            padding: 20px 0;
            margin-right: 10px;

            &:hover,
            &:focus {
                background-color: @lt-blue;
                color: @white;
            }
        }

        .profile-img img {
            margin-top: -18px;
            margin-bottom: -18px;
            margin-right: 5px;
            max-width: 43px;
            display: inline;
        }
    }
}

.player-bar {
    left: @sidebar-width;
}

.panel {
    .panel-heading {
        h1, .h1,
        h2, .h2,
        h3, .h3 {
            margin-top: 4px;
            margin-bottom: 4px;
            color: inherit;
        }

        .breadcrumb {
            background-color: inherit;
            margin-bottom: 0;
            padding: 4px 0;

            a {
                color: #ccc;

                &:hover {
                    color: #fff;
                }
            }
        }
    }
}

.square-grid {
    .thumbnail {
        position: relative;
        margin-left: -8px;
        margin-right: -8px;
        margin-bottom: 12px;

        .background {
            padding-bottom: 84%;
            background-size: cover;
            background-position: 50% 50%;
            background-color: black;
        }

        .content {
            position: absolute;
            top: 4px;
            right: 4px;
            bottom: 4px;
            left: 4px;
            padding: 4px;

            background-color: rgba(0,0,0,0.4);
            color: darken(#fff, 15%);
            text-shadow:
               -1px -1px 0 rgba(0,0,0,0.2),
                1px -1px 0 rgba(0,0,0,0.2),
                -1px 1px 0 rgba(0,0,0,0.2),
                 1px 1px 0 rgba(0,0,0,0.2);
            font-size: 18px;
            line-height: 18px;

            -webkit-transition: all 0.3s linear;
            -moz-transition: all 0.3s linear;
            -o-transition: all 0.3s linear;
            -ms-transition: all 0.3s linear;
            transition: all 0.3s linear;

            &:hover {
                color: white;
                background-color: rgba(0,0,0,0.1);

            }

            .table {
                display: table;
                height: 100%;
                width: 100%;

                .cell {
                    display: table-cell;
                    vertical-align: middle;
                    height: 100%;
                    width: 100%;
                }
            }
        }
    }
}

.label.tag {
    margin-left: 1px;
    margin-right: 1px;
}
