<div class="panel panel-primary">
    <div class="panel-heading">
        <ol class="breadcrumb">
            <li><a data-ui-sref="app.home">Home</a></li>
            <li class="active">Artists</li>
        </ol>

        <h2>Artists</h2>
    </div>

    <ul class="nav nav-tabs">
        <li data-ng-repeat="idx in indexes" data-ui-sref-active="active">
            <a data-ui-sref="app.artists.list({index: idx.name})" data-ng-click="select(idx)">
                {{ idx.name }}
            </a>
        </li>
    </ul>

    <div class="panel-body" data-ui-view></div>
</div>
