<div class="row">
    <div class="col-lg-2 col-sm-3 square-grid" data-ng-repeat="artist in artists">

        <a class="thumbnail" data-ui-sref="app.artist({id: artist.id})" data-grid-img img-src="artist.details.largeImageUrl" data-contents="artist.name" style="margin-left: -10px; margin-right: -10px;"></a>

    </div>
</div>
