<div class="panel panel-info">
    <div class="panel-heading">
        <ol class="breadcrumb">
            <li><a data-ui-sref="app.home">Home</a></li>
            <li><a data-ui-sref="app.artists.blank">Artists</a></li>
            <li class="active">{{ artist.name }}</li>
        </ol>

        <h3>{{ artist.name }}</h3>
    </div>

    <div class="panel-body">
        <tabset>
            <tab data-heading="Albums" data-select="view.artistPage = 'albums'" data-active="tabActive['albums']">

                <div class="btn-group pull-right">
                    <button type="button" class="btn btn-sm btn-default" data-ng-model="view.mode" data-btn-radio="'list'">
                        <span class="fa fa-list"></span>
                        List
                    </button>
                    <button type="button" class="btn btn-sm btn-default" data-ng-model="view.mode" data-btn-radio="'grid'">
                        <span class="fa fa-th"></span>
                        Grid
                    </button>
                </div>
                <h3>Albums</h3>
                <div class="clearfix"></div>

                <div class="row" data-ng-if="view.mode == 'grid'">
                    <div class="col-lg-2 col-sm-3 square-grid" data-ng-repeat="album in albums">
                        <a class="thumbnail" data-grid-img subsonic-id="album.coverArt" data-contents="album.name"></a>
                    </div>
                </div>

                <div data-ng-if="view.mode == 'list'" data-ng-repeat="album in albums" data-ng-include="trackList"></div>

            </tab>
            <tab data-heading="Biography" data-select="view.artistPage = 'biography'" data-active="tabActive['biography']">

                <div class="row">
                    <div class="col-sm-7">
                        <p>
                            <span class="fa fa-tag"></span>
                            <span class="label label-primary tag" data-ng-repeat="t in lastFM.tags.tag">
                                {{ t.name }}
                            </span>
                        </p>

                        <p data-ng-bind-html="artistDetails.biography | sanitize"></p>
                    </div>
                    <div class="col-sm-5">

                        <div class="thumbnail">
                            <img class="img-responsive" data-ng-src="{{ artistDetails.largeImageUrl }}">
                        </div>

                        <div class="row text-center" data-ng-if="lastFM.stats">
                                <div class="col-sm-6">
                                    <p>
                                        <span class="lead">
                                            {{ lastFM.stats.listeners | number }}
                                        </span>
                                        <br>
                                        <strong>listeners</strong>
                                    </p>
                                </div>
                                <div class="col-sm-6">
                                    <p>
                                        <span class="lead">
                                            {{ lastFM.stats.playcount | number }}
                                        </span>
                                        <br>
                                        <strong>plays</strong>
                                    </p>
                                </div>
                            </div>

                        <div data-ng-if="lastFM.bandmembers">
                            <h6>Band Members</h6>
                            <ul>
                                <li data-ng-repeat="m in lastFM.bandmembers">
                                    {{ m.name }}
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>

            </tab>
            <tab data-heading="Similar artists" data-select="view.artistPage = 'similar'" data-active="tabActive['similar']">

                <div class="row">
                    <div class="col-lg-2 col-sm-3 square-grid" data-ng-repeat="a in artistDetails.similarArtist">
                        <a class="thumbnail" data-ui-sref="app.artist({id: a.id})" data-grid-img subsonic-id="a.coverArt" data-contents="a.name"></a>
                    </div>
                </div>

            </tab>
        </tabset>





    </div>
</div>
