<div class="alert fade in" data-ng-repeat="a in alerts" data-ng-class="a.type">
    <button type="button" class="close" data-ng-click="removeAlert(a)">
        &times;
    </button>

    {{ a.text }}
</div>
