<aside class="main-sidebar" data-ng-controller="SidebarCtrl" data-ng-include="template"></aside>

<section class="app-wrapper">
    <div class="app" data-ui-view></div>
</section>



<div data-supersonic-player></div>
