<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-ng-init="navCollapsed = true" data-ng-click="navCollapsed = ! navCollapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a data-ui-sref="app.home" class="navbar-brand text-center">
                supersonic
            </a>
        </div>

        <div class="collapse navbar-collapse" data-ng-class="{ 'in' : !navCollapsed }">

            <form class="navbar-form navbar-left" role="search" data-ng-if="Auth.isAuthenticated()">
                <div class="form-group">
                    <div class="input-group">

                        <input type="text" class="form-control" placeholder="Search...">
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-default">
                                <span class="fa fa-search"></span>
                            </button>
                        </span>
                    </div>
                </div>
            </form>

            <ul class="nav navbar-nav navbar-right" data-ng-if="Auth.isAuthenticated()">
                <li class="dropdown" dropdown>
                    <a class="dropdown-toggle" dropdown-toggle>
                        <subsonic-img data-avatar="true" class="profile-img"></subsonic-img>
                        {{ user.username }}
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a data-ui-sref="app.settings">
                                <span class="fa fa-gear"></span>
                                Settings
                            </a>
                        </li>
                        <li>
                            <a data-ui-sref="logout">
                                <span class="fa fa-sign-out"></span>
                                Logout
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>

            <button type="button" class="btn btn-primary navbar-btn navbar-right" data-ng-if="Auth.isGuest()" data-ui-sref="login" data-ng-disabled="$state.current.name == 'login'">
                <span class="fa fa-sign-in"></span>
                Sign in
            </button>

        </div>
    </div>
</nav>
