<script type="text/ng-template" id="albumView.html">
    <div class="row">
        <div class="col-lg-2 col-sm-3 square-grid" data-ng-repeat="album in albums">
            <a class="thumbnail" data-grid-img subsonic-id="album.coverArt" data-contents="album.name" data-ui-sref="app.album({id: album.id})"></a>
        </div>
    </div>
</script>


<div class="panel panel-primary">
    <div class="panel-heading">
        <ol class="breadcrumb">
            <li><a data-ui-sref="app.home">Home</a></li>
            <li class="active">Albums</li>
        </ol>
        <h2>Albums</h2>
    </div>
    <div class="panel-body">

        <tabset>
            <tab data-ng-repeat="tab in tabs" data-select="view.albumsPage = tab.key" data-heading="{{ tab.name }}" data-active="tabActive[tab.key]" data-disable="loading">

                <nav>
                    <ul class="pager" data-ng-if="view.albumsPage == 'newest' || view.albumsPage == 'frequent'">
                        <li data-ng-class="{disabled: offset === 0 || loading}">
                            <a data-ng-click="pagePrevious()">&larr; Previous</a>
                        </li>
                        <li data-ng-class="{disabled: loading}">
                            <a data-ng-click="pageNext()">Next &rarr;</a>
                        </li>
                    </ul>

                    <ul class="pager" data-ng-if="view.albumsPage == 'random'">
                        <li data-ng-class="{disabled: loading}">
                            <a data-ng-click="updateView()">More</a>
                        </li>
                    </ul>
                </nav>

                <div data-ng-include="'albumView.html'"></div>
            </tab>
        </tabset>

    </div>
</div>
