<div class="panel panel-info">
    <div class="panel-heading">
        <ol class="breadcrumb">
            <li><a data-ui-sref="app.home">Home</a></li>
            <li><a data-ui-sref="app.albums">Albums</a></li>
            <li class="active">{{ album.name }}</li>
        </ol>

        <h3>{{ album.name }}</h3>
    </div>
    <div class="panel-body">




            <div data-ng-include="trackList"></div>




    </div>
</div>
