<div class="row">
    <div class="col-sm-3 col-md-3 col-lg-2 col-xl-1">
        <subsonic-img cover-art-id="album.coverArt"></subsonic-img>
    </div>
    <div class="col-sm-9 col-md-9 col-lg-10 col-xl-11">
        <h4>
            <a data-ng-if="$state.current.name !== 'app.album'" data-ui-sref="app.album({id: album.id})">
                {{ album.name }}
            </a>
            <span data-ng-if="$state.current.name === 'app.album'">
                {{ album.name }}
            </span>
        </h4>
        <h5 data-ng-if="$state.current.name !== 'app.artist'">
            <a data-ui-sref="app.artist({id: album.artistId})">{{ album.artist }}</a>
        </h5>
        {{ album.year }}
    </div>
</div>

<table class="table table-hover table-condensed">
    <thead>
        <tr>
            <th>#</th>
            <th>&nbsp;</th>
            <th>Song</th>
            <th><span class="fa fa-clock-o"></span></th>
        </tr>
    </thead>
    <tbody>
        <tr data-ng-repeat="s in album.song">
            <td>{{ s.track }}</td>
            <td>
                <button type="button" class="btn btn-default btn-sm" data-ng-click="Player.add(s)">
                    <span class="fa fa-plus"></span>
                </button>
            </td>
            <td>{{ s.title }}</td>
            <td>{{ s.duration }}</td>
        </tr>
    </tbody>
</table>

<hr data-ng-if="! $last">
