<div class="sidebar-wrapper">
    <div class="sidebar">

        <div class="btn-group btn-group-justified mode-btns">
            <div class="btn-group">
                <button class="btn btn-primary" data-ng-model="view.sidebar" data-btn-radio="'browse'">Browse</button>
            </div>
            <div class="btn-group">
                <button class="btn btn-primary" data-ng-model="view.sidebar" data-btn-radio="'queue'">Queue</button>
            </div>
        </div>

        <div class="clearfix"></div>

        <ul class="nav nav-pills nav-stacked" data-ng-if="view.sidebar == 'browse'">
            <li data-ng-class="{active: $state.includes('app.artists') || $state.includes('app.artist')}">
                <a data-ui-sref="app.artists.blank">
                    <span class="fa fa-users"></span>
                    Artists
                </a>
            </li>
            <li data-ng-class="{active: $state.includes('app.albums') || $state.includes('app.album')}">
                <a data-ui-sref="app.albums">
                    <span class="fa fa-home"></span>
                    Albums
                </a>
            </li>
            <li>
                <a>
                    <span class="fa fa-home"></span>
                    Broadcasts
                </a>
            </li>
        </ul>

        <div data-ng-if="view.sidebar == 'queue'">
            <ul class="list-group">
                <li class="list-group-item" data-ng-repeat="song in Player.queue | orderBy:order" data-ng-class="{active: Player.idx == $index}">
                    <button type="button" class="btn btn-xs btn-default pull-right" data-ng-class="{'btn-primary': Player.idx == $index}" data-ng-click="Player.remove($index)">
                        <span class="fa fa-times"></span>
                    </button>

                    <a data-ng-click="Player.skipTo($index)" data-ng-if="Player.idx !== $index">
                        {{ song.title }}
                    </a>
                    <span data-ng-if="Player.idx === $index">
                        {{ song.title }}
                    </span>
                </li>
            </ul>
        </div>

    </div>
</div>
